*{
    margin: 0;
    padding: 0;
}
#mainTitle{
    height: 195px;
}
#navBar a{
    text-decoration: none;
}
#headerBG{
    background-image: url('../img/DinosaurBannerBG.png');
}
.breadcrumb {
    padding: 1px 15px !important;
    margin-bottom: 2px !important;
    margin-left: 5px !important;
}
.buttonBG{
    background-color: rgba(0, 255, 0, 0.1);;
}
ol{
    list-style: none;
}
#GTS{
    margin-bottom: 0rem;
}
#triasGTS{
background-color: #812B92;
}
#jurassicGTS{
background-color: #34B2C9;
}
#cretaGTS{
background-color: #7FC64E;
}
@media (max-width: 768px){
    #headerBG{
    background-image: url('../img/DinosaurBannerBGxs.png');
    }
}

