#recentPostList li{
    list-style: none;
}
#recentPostList li:nth-child(odd){
    text-align: left;
}
#recentPostList li:nth-child(even){
    text-align: right;
}
.imgDiv{
    height: 500px;
    overflow: hidden;
}
.mapDiv{
    height: 186px;
    overflow: hidden;
}